<p class="sign-in-notice">You are signed in as <span class="pspan"><%= session[:username] %></span></p>

<h2>Add a reminder</h2>

<form action="/view/add" method="post">
  <fieldset>
  <dl>
    <dt>
    <label for="task" class="task">
      Task Name
      <dd><input type="text" name="task" id="task" placeholder="pay taxes" maxlength="30" required></dd>
    </label>
    </dt>
  </dl>

  <dl>
    <dt>
      <label for="day" class="dates">
        Due Date (<em>Filing days are the same each year so input dates for 2022 only</em>)
        <dd><input type="date" name="date" id="date" value="2022-01-01" max="2022-12-31" min="2022-01-01" required></dd>
      </label>
    </dt>
  </dl>

  <dl class="radio">
    <input type="radio" name="agency" id="federal" value="federal" required>
    <label for="federal">Federal</label>
    <input type="radio" name="agency" id="state" value="state">
    <label for="state">State</label>
    <input type="radio" name="agency" id="local" value="local">
    <label for="local">Local</label>
  </dl>
  <input type="submit" value="Add">
  </fieldset>
</form>

<h2>Your Reminders</h2>
<% if @reminders.size == 0 %>
  <p>You have no reminders. Add one to get started.</p>
<% else %>
  <p><%= agency_count %></p>
<% end %>

<form action="/delete/all" method="post" class="sorter">
  <label for="delele-all">Delete all reminders =></label>
  <input type="submit" value="Delete All">
</form>

<table>
  <thead>
    <tr>
      <th>Task</th>
      <th>Agency</th>
      <th>Due Date</th>
    </tr>
  </thead>
  <tbody>
  <% @reminders.each do |hash| %>
    <tr>
      <td><%= "#{hash[:task_name]}" %></td>
      <td><%= "#{hash[:agency].capitalize}" %></td>
      <td><%= "#{hash[:due_date].chars[5..-1].join}" %></td>
      <p><%= "#{hash}" %></p>
      <td>
        <form action="/delete/<%= hash[:id] %>" method="post" class="delete">
          <input type="submit" value="Delete">
        </form>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>


